:root {
    --scale: 1.25;
}

body {
    background: #111;
}

a {
    cursor: pointer;
}

.z100 {
    width: calc(100vw * var(--scale));
    transform-origin: 0% 0%;
    transform: scale(calc(1 / var(--scale)));
}

img#img-content {
    position: absolute;
    transform-origin: 0 0;
}

img.overlapping {
    margin: calc(52px * (1 / var(--scale))) 0;
}

img#img-content:not([src]) {
    display: none;
}

.content {
    margin-top: 52px;
}

.navbar-fixed-bottom {
    top: calc(100vh - calc(65px * (1 / var(--scale))));
    bottom: unset;
}

/* ------ BOOTSTRAP ---------------------------------------------------------------------------- */

.navbar-center {
    float: none;
    width: 95px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-right {
    float: right !important;
}

.navbar-left {
    float: left !important;
}
