body {
    background: #111;
}

a {
    cursor: pointer;
}

img#img-content {
    position: absolute;
    margin: 52px 0;
}

img#img-content:not([src]) {
    display: none;
}

.content {
    margin-top: 52px;
}