body {
    background: #111;
}

a {
    cursor: pointer;
}

img#img-content {
    position: absolute;
    transform-origin: 0 0;
}

img.overlapping {
    margin: 52px 0;
}

img#img-content:not([src]) {
    display: none;
}

.content {
    margin-top: 52px;
}

/* ------ BOOTSTRAP ---------------------------------------------------------------------------- */

.navbar-right {
    float: right !important;
}

.navbar-left {
    float: left !important;
}
